
.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.opacity-60 {
    opacity: 0.7;
}

h1{
    color: black;
    text-align: center;
    opacity: 1;
    font-family:'Dancing Script',cursive;
    font-size: 6.5rem;
    padding-bottom: 1rem;
        color: black;
        text-shadow: 2px 2px 4px black;  
}
p
{
    color:black;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family:"Merriweather", serif;
}

.divisions
{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.center
{
    text-align: center;
}
#works
{
    /*background-color: #E5D8EE;*/
    padding-top: 5rem;;
    background-image: linear-gradient(to bottom, #adaeb2, #898591, #7a707f, #6d5c6c, #675263, #614959, #5b3f4f, #593d4d, #583b4b, #563a4a,#422835, #24161d);
}

.contact-me
{
    display: block;
    color:black;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.contact-message
{
    padding-left: 4rem;
    padding-right: 4rem;
    color: rgb(189, 197, 204);
    font-size: 1.4rem;
}

.bottom-most-container
{
    text-align: center;
    display: block;
    padding: 50px 0 20px;
    color: #40514e;
    margin: 0;
    font-family: "Merriweather", serif;
}

a {
    font-size: 1.3rem;
    color: #a9b6b6;
    font-family:"Merriweather", serif;
    margin: 10px 20px;
    text-decoration: none;
}
.slide
{
    background-color: #adaeb2;
}
.brain
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.problem-solver
{
    padding-left: 3.5rem;
}
.copyright
{
    color: rgb(169, 179, 189);
}
.bottoms
{
    color: #0a0c0c;
    text-shadow: 1.5px 1.5px 1.5px black;  
    
}
.getin
{
    font-size: 2rem;
    text-shadow: 1px 1px 1px black;  
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0rem;
    margin:0px 0px;
}


body {
  background: #f0faff;
}






/* Style for the navigation bar */
header {
    background-color: #5c3749;
    color: #fff;
    padding: 2px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0;
    padding: 0;
}
.logo
{
    padding-left: 0.5rem;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a {
    text-decoration:dashed;
    color: #fff;
}

.animated {
    animation-name: blinkAnimation;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .navbar
    {
        padding-right: 4px;
        padding-left: 2.5px;
    }
    h1{
        font-size: 3.8rem;
    }
    .menu-toggle {
        display: flex;
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px;
    }
}

