*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  background: linear-gradient(
    to bottom,
    #adaeb2,
    #898591,
    #7a707f,
    #6d5c6c,
    #675263,
    #614959,
    #5b3f4f,
    #593d4d,
    #583b4b,
    #563a4a,
    #422835,
    #24161d
  );
}

.scrolls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
}
.scrolls .center {
  font-size: 0.825rem;
}

.smooth {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  mix-blend-mode: luminosity;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}
.header ul li {
  margin: 0 1em;
  padding: 1em;
}
.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color:#3b2430;
  font-weight: 400px;
}
.header ul li a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}
.header ul li a:hover::after {
  width: 100%;
  background-color: #4e2e3e;
}

section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-size: cover;
  scroll-snap-align: center;
}

img
  {
    height:100vh;
    width:90%;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 7%;
  }

@media screen and (max-width: 768px) 
{
  img
  {
    height:100%;
    width:100%;
    padding-left:2%;
    padding-right: 2%;
  }
}
